@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Ledger&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Koulen&family=Ledger&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #090E0B;
}

.GreekList {
    display: grid;
    place-items: start;
    font-family: Ledger;
    font-size: 24px;
    color: #969696;
    width: 275px;
}

ul {
    list-style: none;
}

li {
    margin-left: 30px;
}

header {
    display: grid;
    font-family: Koulen;
    align-items: center;
    height: 200px;
    width: 275px;
}

h1 {
    margin-left: 75px;
}

.First {
    color: #F55900;
}

.Secondary {
    color: #969696;
}

.selected-greek {
    color: #F55900;
    cursor: pointer;
    width: 50px;
}

.greek-name {
    cursor: pointer;
    width: 50px;
    line-height: 2;
}

.search {
    border-radius: 35px;
    background-color: #122424;
    width: 328px;
    height: 46px;
    margin-top: -200px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="text"] {
    display: flex;
    margin-left: 5px;
    width: 235px;
    background-color: #122424;
    border-color: none;
    border: none;
    color: #969696;
    outline:none;
}

.site {
    display: grid;
    justify-items: center;
    margin-left: 475px;
    margin-top: -665px;
    gap: normal;
    width: 1000px;
}

.background {
    margin-top: -200px;
}

.background-img {
    width: 800px;
}


.social-links {
    margin-top: -290px;
    margin-left: 1475px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 380px;
}

.Icon {
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.number-greek {
    font-family: Anonymous Pro;
    font-size: 96px;
    color: #FF5C00;
}

body::-webkit-scrollbar {
    width: 7px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #122424;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #FF5C00;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 0px solid orange;  /* padding вокруг плашки */
  }